body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 10px;
}

blockquote {
    margin: 30px 5px;
    padding: 0px 0px;
	  border-left: none;
}

blockquote:before {
    color: #ccc;
    line-height: 0.1em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

blockquote h1,
h2,
h3,
p {
    display: inline;
}


.container {
    max-height: 400px;
    margin: 5% auto 5% auto;
}

.cardbox {
    background: #FBFAF5;
    max-width: 1000px;
    min-height: 100px;
    margin: 20px auto;
    text-align: center;
    border: 10px solid transparent;
    border-radius: 15px;
    transition: border-color;
}


.cardbox, #newcard, blockquote footer {
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

#cardtext {
    transition: opacity 0.5s ease;
}

.cardbutton {
    display: inline-block;
    padding: 6px 12px;
}

.btn {
    margin-bottom: 10px;
}

.btn-primary {
    width: 120px;
    height: 40px;
    border: none;
    background: #490A3D;
    border-radius: 10px;
}

#newcard {
    font-weight: bold;
    font-size: 14px;
    color: #FBFAF5;
}

.btn:focus, .btn:active:focus, #newcard:focus {
    outline: none;
    box-shadow: none;
}


@media only screen and (max-width: 768px) {
    #cardtext {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    #cardtext {
        font-size: 8px;
    }
}
